@model IEnumerable<EcomartVietNam.Models.Custom_order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section addcss{
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/Areas/Asset/css/bootstrap-datetimepicker.min.css" />

    <!-- Datatables CSS -->
    <link rel="stylesheet"
          href="~/Areas/Asset/plugins/datatables/datatables.min.css" />
}


<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">Quản lý hoá đơn</h3>
            </div>
            <div class="col-auto text-right">
                <a class="btn btn-white filter-btn"
                   href="javascript:void(0);"
                   id="filter_search">
                    <i class="fas fa-filter"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Search Filter -->
    <div class="card filter-card" id="filter_inputs">
        <div class="card-body pb-0">
            <form action="#" method="post">
                <div class="row filter-row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Mã hoá đơn</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Từ ngày</label>
                            <div class="cal-icon">
                                <input class="form-control datetimepicker"
                                       type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Đến ngày</label>
                            <div class="cal-icon">
                                <input class="form-control datetimepicker"
                                       type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">
                                Lọc
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead class="text-center">
                                <tr>
                                    <th>#</th>
                                    <th>Mã đơn hàng</th>
                                    <th>Người mua</th>
                                    <th>Số tiền</th>
                                    <th>Ngày tạo</th>
                                    <th>Trạng thái</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                @for (int i = 0; i < Model.ToList().Count; i++)
                                {
                                    
                                    <tr>
                                        <td>@(i+1)</td>
                                        <td>@Html.DisplayFor(modelItem => Model.ToList()[i].order_id)</td>
                                        <td>@Html.DisplayFor(modelItem => Model.ToList()[i].user_id)</td>
                                        <td>@Html.DisplayFor(modelItem => Model.ToList()[i].amount)</td>
                                        <td>@Html.DisplayFor(modelItem => Model.ToList()[i].created_at)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.ToList()[i].status)
                                        </td>
                                        <td>
                                            <a class="btn btn-sm bg-success-light mr-2">
                                                Cập nhật
                                            </a>
                                            <a class="btn btn-sm bg-success-light mr-2"
                                               href="@Url.Action("Details","ManageOrder")">
                                                Chi tiết
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>